[submodule "Snoz/vendor/spdlog"]
	path = Snoz/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Snoz/vendor/GLFW/GLFW"]
	path = Snoz/vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Snoz/vendor/ImGui/ImGui"]
	path = Snoz/vendor/ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
